/* NAVBAR */
.navbar-light .navbar-brand{
  position: absolute;
}
.navbar-bar p{
  font-weight: 400;
  color: #807247;
}

.bg-dark .col.col-lg-4 {
  color: #807247;
}

ul.navbar-nav.mr-auto{
  margin: auto;
}

nav .navbar-nav .nav-item a.nav-link {
  color: white;
}
.navbar.navbar-dark.bg-dark .row{
  width: 100%;
}

nav.navbar-dark.bg-dark p{
  position: absolute;
  color: white;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

nav li.nav-item.active a.nav-link {
  color: rgb(229 195 81) !important;
}

nav.navbar-light.bg-light{
  background-color: black !important;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgb(2 208 255 / 95%);
}

/* FOOTER */
footer{
  text-align: center;
  background: #212529;
}

footer .container{
  padding-top: 30px;
  padding-bottom: 30px;
}

footer h5, 
footer .btn.btn-outline-secondary{
  color: white;
}

footer .btn.book-now{
  color: #807247;
  border: solid 1px #807247;
  margin: 30px;
}

footer p{
  color: #888888;
}

footer #footer-info p{
  line-height: 30px;
  margin: 0px !important;
}

footer .row.svg svg {
  width: auto;
  height: 25% !important;
  margin: 30px;
  text-align: center;
  color: #807247;
}

/* PRESET */
h1,h2,h3,h4,h5,h6{
  margin: 20px 0px
}

h3{
  text-align: center;
}

.golden-preset{
  color: rgb(229 195 81);
}

ul{
  list-style-type: none;
}

/* HOME */

.hero{
  background: black;
  height: 60vh;  
  position: relative;
  /* top: -56px; */
}

/* .hero img {
  vertical-align: middle;
  border-style: none;
  margin: 10px auto;
  display: flex;
  height: auto;
  max-width: 100%
} */


.banner .col-lg-4.col-sm-12.col-12{
  padding: 100px;
}
.banner span{
  display: block;
  font-size: 0.8em;
}

.banner .row .col.col-lg-4.col-sm-12.col-12:nth-child(2){
  background: beige;
}


.right {
  text-align: right;
}

a.btn.btn-theme {
  border: solid 1px rgb(229 195 81);
  padding: 10px 22px;
  margin: 20px auto;
  display: block;
  text-align: center;
  width: 100px;
}

/* services */
.services {
  text-align: center;
}

.services .col.col-lg-4.col-sm-12.col-12:nth-child(odd){
  background: aliceblue;
}
.services .col.col-lg-4.col-sm-12.col-12:nth-child(even){
  background: tan;
}

/* reviews */
.reviews {
  text-align: center;
}
.reviews i.bi.bi-star-fill{
  color: yellow;
}




/* about-us */
.card {
  border: none;
}
.team h3{
  text-align: center
}